:root{
  /* --titles: white; */
  --titles: #d1d1cc;
  --dropline: #656573;
  /* --sidebar-options: #333443; */
  --sidebar-options: #40404e;
  --scroll-bg: #21183a;
  --scroll: #1e104e;
  --sidebar-bg: #040517; 
  --background-page:  linear-gradient(to right, #101228,#1f1734);
}

*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body{
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  background: var(--background-page);
  color: var(--dropline);

  overflow-x: hidden;
}

h1, h2, h3{
  color: var(--titles);
}

h4,h5{
  color: var(--dropline);
}

