.container{
  position: relative;
  display: flex;
  flex-direction: row;
}

.dashboard{
  margin-left: 20%;
  width: 80vw;
  height: 100%;
  background: var(--background-page);
  /* display: grid;
  grid-template-rows: .1fr .9fr 1fr; */
  gap: 0;
  padding: 12px 30px 12px 40px;
}

.viewsAndTracks{
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

