.container{
  position: relative;
  display: flex;
  flex-direction: row;
}

.dashboard{
  margin-left: 20%;
  width: 80vw;
  height: 100vh;
  background: var(--background-page);
  /* display: grid;
  grid-template-rows: .1fr .9fr 1fr; */
  gap: 0;
  padding: 10px 10px 10px 30px;
}