.inputSearch{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
}

.inputSearch span{
  margin-right: 10px;
}

.inputSearch input{
  width: 300px;
  background: none;
  font-size: .84rem;
  font-weight: 500;
  line-height: 2.2;
  color: var(--dropline);

  opacity: 0.8;
}

.inputSearch input:focus{
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}